.image-icon11 {
  align-self: stretch;
  height: 1063px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
  z-index: 0;
}
.gradient3 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    transparent 80%,
    #000,
    rgba(85, 85, 85, 0)
  );
  z-index: 1;
}
.gradient4 {
  height: 531.5px;
  width: 480px;
  position: relative;
  background: linear-gradient(0deg, transparent, #000, rgba(85, 85, 85, 0));
  display: none;
  max-width: 100%;
}
.p1 {
  margin: 0;
}
.professional1 {
  margin: 0;
  font-size: 40px;
  text-transform: uppercase;
}
.professional-txt {
  line-break: anywhere;
  width: 100%;
}
.professional {
  width: 342.4px;
  position: relative;
  line-height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 3;
}
.gradient-container {
  align-self: stretch;
  background: linear-gradient(0deg, transparent, #000, rgba(85, 85, 85, 0));
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 218.8px 40px 216.7px;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
}
.link-learn1 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 98px;
  white-space: nowrap;
  z-index: 2;
}
.frame-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1.3px;
}
.link-learn-more-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 5.8px;
}
.container-inner1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 24px 0 20px;
  font-size: 18px;
}
.when-choose-nexusconnectnet {
  margin: 0 !important;
  position: absolute;
  top: 80px;
  right: -309.5px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  font-family: inherit;
  text-align: left;
  z-index: 4;
}
.container12 {
  width: 480px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 131px;
  box-sizing: border-box;
  position: relative;
  gap: 376.5px;
  background-image: url(/public/image@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 80px;
  color: #fff;
  font-family: "Open Sans";
}
@media screen and (max-width: 975px) {
  .professional,
  .when-choose-nexusconnectnet {
    font-size: 32px;
    line-height: 38px;
  }
}
@media screen and (max-width: 450px) {
  .professional,
  .when-choose-nexusconnectnet {
    font-size: 24px;
    line-height: 29px;
  }
}
