.connectnet6,
.nexus6 {
  position: relative;
  letter-spacing: 0.36em;
  line-height: 19px;
  text-transform: uppercase;
}
.nexus6 {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}
.connectnet6 {
  font-size: 18.5px;
}
.nexus-parent3 {
  width: 181.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14.2px;
}
.best-mvno-2023svg-fill2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}
.best-mvno-2023svg2 {
  align-self: stretch;
  height: 126.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.best-mvno-2023svg-frame {
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 0 0;
  box-sizing: border-box;
}
.about-us2 {
  position: relative;
  line-height: 28px;
  display: inline-block;
  min-width: 97px;
}
.nexusconnectnet-app2,
.nexusconnectnet-in-the2,
.nexusconnectnet-network-partne2,
.nexusconnectnet-story2,
.nexusconnectnetcom2 {
  position: relative;
  line-height: 22px;
  font-weight: 300;
}
.container40,
.list6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list6 {
  padding: 3px 0;
  gap: 6px;
  font-size: 16px;
  color: #d3d3d3;
}
.container40 {
  padding: 0 15px 24px;
  gap: 8px;
}
.get-in-touch2 {
  position: relative;
  line-height: 28px;
}
.item-link24,
.item-link25,
.item-link26 {
  position: relative;
  line-height: 22px;
  font-weight: 300;
}
.item-link27 {
  display: inline-block;
  min-width: 117px;
}
.item-link27,
.item-link28 {
  position: relative;
  line-height: 22px;
  font-weight: 300;
}
.container41,
.list7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list7 {
  align-self: stretch;
  padding: 3px 0;
  gap: 6px;
  font-size: 16px;
  color: #d3d3d3;
}
.container41 {
  flex: 1;
  padding: 0 15px 24px;
  box-sizing: border-box;
  gap: 8px;
  min-width: 192px;
  font-size: 23.3px;
}
.assistance3,
.list-item2 {
  position: relative;
  line-height: 28px;
  display: inline-block;
  min-width: 113.1px;
}
.list-item2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #d3d3d3;
  text-decoration: none;
  min-width: 87px;
}
.container-parent7,
.paragraph2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.paragraph2 {
  flex: 1;
  flex-direction: column;
  padding: 0 15px 139px;
  gap: 11px;
  min-width: 192px;
  min-height: 200px;
}
.container-parent7 {
  width: 892px;
  flex-direction: row;
  padding: 0 7px 0 0;
  row-gap: 20px;
  max-width: 100%;
}
.link-ubigis-facebook-accoun2,
.link-ubigis-instagram-accou2,
.link-ubigis-twitter-account2,
.link-ubigis-youtube-account2 {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 30px;
}
.frame-wrapper21,
.link-ubigis-facebook-accoun-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-ubigis-facebook-accoun-container {
  gap: 10px;
}
.frame-wrapper21 {
  padding: 5px 0 0;
}
.frame-parent108,
.frame-parent109 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent109 {
  justify-content: flex-start;
  gap: 85.5px;
  text-align: left;
  font-size: 23.1px;
}
.frame-parent108 {
  width: 1739.9px;
  justify-content: space-between;
  gap: 20px;
}
.horizontal-divider3 {
  width: 1740px;
  height: 1px;
  position: relative;
  background-color: #404040;
  max-width: 100%;
}
.item-link29,
.item-link30,
.item-link31 {
  position: relative;
  line-height: 22px;
  font-weight: 300;
  display: inline-block;
}
.item-link29 {
  flex: 1;
  min-width: 92px;
}
.item-link30,
.item-link31 {
  min-width: 86.1px;
}
.item-link31 {
  flex: 1;
  min-width: 88px;
}
.list8 {
  width: 421.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 19px 0 0;
  box-sizing: border-box;
  gap: 19.1px;
  max-width: 100%;
}
.nexusconnectnet-20242 {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 22px;
  font-weight: 300;
  display: inline-block;
  min-width: 243px;
  max-width: 100%;
}
.logo-nttpng-icon2 {
  height: 23px;
  width: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.nexusconnectnet-2024-ltd-a-container {
  width: 450.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.8px;
  max-width: 100%;
  font-size: 14px;
  color: #fff;
  font-family: Roboto;
}
.footer2,
.list-container {
  display: flex;
  max-width: 100%;
}
.list-container {
  width: 1740px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: #d3d3d3;
}
.footer2 {
  align-self: stretch;
  background-color: #000;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 20px 78px;
  box-sizing: border-box;
  gap: 22px;
  text-align: center;
  font-size: 37px;
  color: #fff;
  font-family: "Open Sans";
}
@media screen and (max-width: 1500px) {
  .frame-parent108,
  .frame-parent109 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .list-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .nexus6 {
    font-size: 30px;
    line-height: 15px;
  }
  .container-parent7 {
    flex-wrap: wrap;
  }
  .frame-parent109 {
    gap: 43px;
  }
}
@media screen and (max-width: 450px) {
  .nexus6 {
    font-size: 22px;
    line-height: 11px;
  }
  .about-us2 {
    font-size: 18px;
    line-height: 22px;
  }
  .assistance3,
  .get-in-touch2 {
    font-size: 19px;
    line-height: 22px;
  }
  .assistance3 {
    font-size: 18px;
  }
  .frame-parent109 {
    gap: 21px;
  }
  .list8,
  .nexusconnectnet-2024-ltd-a-container {
    flex-wrap: wrap;
  }
  .footer2 {
    padding-top: 39px;
    padding-bottom: 51px;
    box-sizing: border-box;
  }
}
