.connectnet7,
.nexus7 {
  position: relative;
  letter-spacing: 0.36em;
  line-height: 19px;
  text-transform: uppercase;
}
.nexus7 {
  align-self: stretch;
  font-weight: 800;
}
.connectnet7 {
  font-size: 18.5px;
}
.nexus-parent4 {
  width: 181.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0.1px;
  box-sizing: border-box;
  gap: 14.1px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.best-mvno-2023svg-fill3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}
.best-mvno-2023svg3 {
  align-self: stretch;
  height: 126.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.best-mvno-2023svg-wrapper1 {
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 0 0;
  box-sizing: border-box;
}
.about-us3 {
  position: relative;
  line-height: 28px;
  display: inline-block;
  min-width: 97px;
}
.nexusconnectnet-app3,
.nexusconnectnet-in-the3,
.nexusconnectnet-network-partne3,
.nexusconnectnet-story3,
.nexusconnectnetcom3 {
  position: relative;
  line-height: 22px;
  font-weight: 300;
}
.container10,
.list9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list9 {
  padding: 3px 0;
  gap: 6px;
  font-size: 16px;
  color: #d3d3d3;
}
.container10 {
  padding: 0 15px 24px;
  box-sizing: border-box;
  gap: 8px;
  min-width: 295px;
}
.get-in-touch3 {
  position: relative;
  line-height: 28px;
}
.item-link32,
.item-link33,
.item-link34 {
  position: relative;
  line-height: 22px;
  font-weight: 300;
}
.item-link35 {
  display: inline-block;
  min-width: 117px;
}
.item-link35,
.item-link36 {
  position: relative;
  line-height: 22px;
  font-weight: 300;
}
.container11,
.list10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list10 {
  align-self: stretch;
  padding: 3px 0;
  gap: 6px;
  font-size: 16px;
  color: #d3d3d3;
}
.container11 {
  flex: 1;
  padding: 0 15px 24px;
  box-sizing: border-box;
  gap: 8px;
  min-width: 192px;
}
.assistance3,
.list-item3 {
  position: relative;
  line-height: 28px;
  display: inline-block;
  min-width: 113.1px;
}
.list-item3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #d3d3d3;
  text-decoration: none;
  min-width: 87px;
}
.about-us-content,
.container-parent2,
.paragraph3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.paragraph3 {
  flex: 1;
  flex-direction: column;
  padding: 0 15px 139px;
  box-sizing: border-box;
  gap: 11px;
  min-width: 192px;
  min-height: 200px;
  z-index: 1;
  margin-left: -0.1px;
  font-size: 23.1px;
}
.about-us-content,
.container-parent2 {
  flex-direction: row;
  row-gap: 20px;
  max-width: 100%;
}
.container-parent2 {
  flex: 1;
  min-width: 383px;
  font-size: 23.3px;
}
.about-us-content {
  width: 891.9px;
  padding: 0 7px 0 0;
  box-sizing: border-box;
}
.link-ubigis-facebook-accoun3,
.link-ubigis-instagram-accou3,
.link-ubigis-twitter-account3,
.link-ubigis-youtube-account3 {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 30px;
}
.social-links,
.social-links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-links {
  gap: 10px;
}
.social-links-wrapper {
  padding: 5px 0 0;
}
.frame-parent35,
.frame-parent36 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent36 {
  justify-content: flex-start;
  gap: 85.5px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  text-align: left;
  font-size: 23.1px;
}
.frame-parent35 {
  width: 1739.9px;
  justify-content: space-between;
  gap: 20px;
}
.horizontal-divider3 {
  width: 1740px;
  height: 1px;
  position: relative;
  background-color: #404040;
  max-width: 100%;
}
.item-link37,
.item-link38,
.item-link39 {
  position: relative;
  line-height: 22px;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.item-link37 {
  flex: 1;
  min-width: 92px;
}
.item-link38,
.item-link39 {
  min-width: 86.1px;
}
.item-link39 {
  flex: 1;
  min-width: 88px;
}
.list11 {
  width: 421.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 19px 0 0;
  box-sizing: border-box;
  gap: 19.2px;
  max-width: 100%;
}
.logo-nttpng-icon3,
.nexusconnectnet-20243 {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.nexusconnectnet-20243 {
  margin: 0;
  flex: 1;
  line-height: 22px;
  font-weight: 300;
  display: inline-block;
  min-width: 243px;
  max-width: 100%;
}
.logo-nttpng-icon3 {
  height: 23px;
  width: 60px;
  overflow: hidden;
  object-fit: contain;
}
.nexusconnectnet-2024-ltd-a-parent1 {
  width: 450.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.8px;
  max-width: 100%;
  font-size: 14px;
  color: #fff;
  font-family: Roboto;
}
.footer3,
.list-parent1 {
  display: flex;
  max-width: 100%;
}
.list-parent1 {
  width: 1740px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: #d3d3d3;
}
.footer3 {
  align-self: stretch;
  background-color: #000;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 20px 78px;
  box-sizing: border-box;
  gap: 22px;
  text-align: center;
  font-size: 37px;
  color: #fff;
  font-family: "Open Sans";
}
@media screen and (max-width: 1500px) {
  .frame-parent36 {
    flex-wrap: wrap;
  }
  .frame-parent35 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1200px) {
  .list-parent1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .nexus7 {
    font-size: 30px;
    line-height: 15px;
  }
  .container10 {
    flex: 1;
  }
  .container-parent2 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .about-us-content {
    flex-wrap: wrap;
  }
  .frame-parent36 {
    gap: 43px;
  }
}
@media screen and (max-width: 450px) {
  .nexus7 {
    font-size: 22px;
    line-height: 11px;
  }
  .about-us3 {
    font-size: 18px;
    line-height: 22px;
  }
  .assistance3,
  .get-in-touch3 {
    font-size: 19px;
    line-height: 22px;
  }
  .assistance3 {
    font-size: 18px;
  }
  .paragraph3 {
    margin-left: 0;
  }
  .frame-parent36 {
    gap: 21px;
  }
  .list11,
  .nexusconnectnet-2024-ltd-a-parent1 {
    flex-wrap: wrap;
  }
  .footer3 {
    padding-top: 39px;
    padding-bottom: 51px;
    box-sizing: border-box;
  }
}
