.image-icon28 {
  height: 24px;
  width: 24px;
  position: relative;
}
.i-am-not {
  position: relative;
  line-height: 28px;
}
.image-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
}
.input11 {
  height: 44px;
  flex: 1;
}
.input-wrapper {
  width: 167.2px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 35px;
  box-sizing: border-box;
}
.frame-parent106,
.frame-wrapper19,
.input-wrapper {
  display: flex;
  align-items: flex-start;
}
.frame-parent106 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 8.5px;
}
.frame-wrapper19 {
  width: 1087.5px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.by-submitting-this,
.sending-an-email {
  display: block;
}
.by-submitting-this-container {
  margin: 0;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: gray;
}
.frame-parent105,
.section-inner7 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent105 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 23.5px;
}
.section-inner7 {
  width: 1761.6px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: "Open Sans";
}
@media screen and (max-width: 450px) {
  .i-am-not {
    font-size: 16px;
    line-height: 22px;
  }
}
