.container-icon3 {
  position: absolute;
  top: 320px;
  left: 940px;
  width: 40px;
  height: 27px;
  z-index: 10;
}
.footer-group {
  align-self: stretch;
  height: 427px;
  position: relative;
  max-width: 100%;
  text-align: center;
  font-size: 37px;
  color: #fff;
  font-family: "Open Sans";
}
@media screen and (max-width: 1875px) {
  .footer-group {
    height: auto;
    min-height: 427;
  }
}
