.connectnet5,
.nexus5 {
  position: relative;
  letter-spacing: 0.36em;
  line-height: 13px;
  text-transform: uppercase;
}
.nexus5 {
  text-decoration: none;
  width: 135px;
  font-weight: 800;
  color: inherit;
  display: inline-block;
}
.connectnet5 {
  font-size: 12.8px;
}
.frame-wrapper11,
.nexus-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.nexus-parent2 {
  width: 126px;
  justify-content: flex-start;
  padding: 0;
  gap: 10px;
}
.frame-wrapper11 {
  width: 174px;
  justify-content: flex-end;
  padding: 0 0 19.2px;
}
.buy-an-esim3 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  color: inherit;
}
.buy-an-esim-data-plan-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
}
.vertical-divider12 {
  height: 31.5px;
  width: 1px;
  position: relative;
  background-color: #2f2f2f;
  flex-shrink: 0;
}
.item-link22 {
  width: 209.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px 8px 23.5px 11px;
  box-sizing: border-box;
  gap: 17.1px;
}
.get-started3 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 102px;
  white-space: nowrap;
}
.get-started-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
}
.vertical-divider13 {
  height: 31.5px;
  width: 1px;
  position: relative;
  background-color: #2f2f2f;
  flex-shrink: 0;
}
.item-link-menu6 {
  width: 123px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px 9px 23.5px 11px;
  box-sizing: border-box;
  gap: 18.8px;
}
.top-up3 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 57px;
}
.top-up-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
}
.vertical-divider14 {
  height: 31.5px;
  width: 1px;
  position: relative;
  background-color: #2f2f2f;
  flex-shrink: 0;
}
.item-link23 {
  width: 79.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px 10px 23.5px 11px;
  box-sizing: border-box;
  gap: 19.8px;
}
.help-center3 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 103px;
}
.help-center-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
}
.vertical-divider15 {
  height: 31.5px;
  width: 1px;
  position: relative;
  background-color: #2f2f2f;
  flex-shrink: 0;
}
.item-link-menu7,
.nav-list3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}
.item-link-menu7 {
  width: 125px;
  align-items: flex-end;
  padding: 20px 10px 23.5px 11px;
  gap: 19.8px;
}
.nav-list3 {
  flex: 1;
  align-items: flex-start;
  padding: 0 16px 0 0;
  gap: 15.5px;
  min-width: 389px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
}
.ubigi-cartsvg-icon3 {
  width: 32.9px;
  height: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ubigi-cartsvg-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 22.5px;
}
.frame-parent20 {
  width: 805.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.business3 {
  text-decoration: none;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: Roboto;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 81.1px;
}
.link6,
.link6:hover {
  box-sizing: border-box;
}
.link6 {
  cursor: pointer;
  border: 2px solid #fff;
  padding: 7px 18px 8px 22px;
  background-color: transparent;
  width: 124.9px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link6:hover {
  background-color: rgba(230, 230, 230, 0.09);
  border: 2px solid #e6e6e6;
}
.partners3 {
  text-decoration: none;
  width: 99.2px;
  position: relative;
  line-height: 22px;
  text-transform: uppercase;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.svg-icon3 {
  width: 12px;
  height: 7px;
  position: relative;
}
.button13,
.svg-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
}
.button13 {
  flex: 1;
  border-radius: 24px;
  background-color: #fff;
  border: 2px solid #fff;
  box-sizing: border-box;
  flex-direction: row;
  padding: 8px 14px;
  gap: 7.8px;
  min-width: 100px;
}
.link-my-account3 {
  align-self: stretch;
  height: 44px;
  position: relative;
  border-radius: 30px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.link-my-account-wrapper1 {
  width: 87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 15px 0 0;
  box-sizing: border-box;
}
.link-svg3 {
  width: 28px;
  height: 28px;
  position: relative;
}
.link-svg-wrapper1 {
  flex-direction: column;
  padding: 7.5px 0 0;
}
.container-inner1,
.link-parent2,
.link-svg-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-parent2 {
  align-self: stretch;
  flex-direction: row;
  gap: 15px;
}
.container-inner1 {
  width: 439px;
  flex-direction: column;
  padding: 15.5px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
.background5,
.container7,
.header9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.container7 {
  flex: 1;
  justify-content: space-between;
  padding: 0 0 0 5px;
  box-sizing: border-box;
  gap: 20px;
}
.background5,
.header9 {
  justify-content: flex-start;
}
.background5 {
  flex: 1;
  background-color: #000;
  padding: 0 20px;
  box-sizing: border-box;
}
.header9 {
  align-self: stretch;
  text-align: center;
  font-size: 25.6px;
  color: #fff;
  font-family: "Open Sans";
}
@media screen and (max-width: 1525px) {
  .container7 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 850px) {
  .nav-list3 {
    min-width: 100%;
  }
  .frame-parent20,
  .nav-list3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .nexus5 {
    font-size: 20px;
    line-height: 10px;
  }
  .link-parent2 {
    flex-wrap: wrap;
  }
}
