.connectnet7,
.nexus7 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.36em;
  line-height: 13px;
  text-transform: uppercase;
  color: inherit;
}
.nexus7 {
  width: 135px;
  font-weight: 800;
  display: inline-block;
  white-space: nowrap;
}
.connectnet7 {
  font-size: 12.8px;
}
.frame-wrapper22,
.nexus-parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.nexus-parent4 {
  width: 126px;
  justify-content: flex-start;
  padding: 0;
  gap: 10px;
}
.frame-wrapper22 {
  width: 174px;
  justify-content: flex-end;
  padding: 0 0 19.2px;
}
.buy-an-esim4 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  white-space: nowrap;
}
.buy-an-esim-data-plan-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
}
.vertical-divider16 {
  height: 31.5px;
  width: 1px;
  position: relative;
  background-color: #2f2f2f;
  flex-shrink: 0;
}
.item-link32 {
  width: 209.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px 8px 23.5px 11px;
  box-sizing: border-box;
  gap: 17.1px;
}
.get-started4 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 102px;
  white-space: nowrap;
}
.get-started-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
}
.vertical-divider17 {
  height: 31.5px;
  width: 1px;
  position: relative;
  background-color: #2f2f2f;
  flex-shrink: 0;
}
.item-link-menu8 {
  width: 123px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px 9px 23.5px 11px;
  box-sizing: border-box;
  gap: 18.8px;
}
.top-up4 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 57px;
  white-space: nowrap;
}
.top-up-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
}
.vertical-divider18 {
  height: 31.5px;
  width: 1px;
  position: relative;
  background-color: #2f2f2f;
  flex-shrink: 0;
}
.item-link33 {
  width: 79.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px 10px 23.5px 11px;
  box-sizing: border-box;
  gap: 19.8px;
}
.help-center4 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 103px;
  white-space: nowrap;
}
.help-center-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
}
.vertical-divider19 {
  height: 31.5px;
  width: 1px;
  position: relative;
  background-color: #2f2f2f;
  flex-shrink: 0;
}
.item-link-menu9,
.nav-list4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}
.item-link-menu9 {
  width: 125px;
  align-items: flex-end;
  padding: 20px 10px 23.5px 11px;
  gap: 19.8px;
}
.nav-list4 {
  flex: 1;
  align-items: flex-start;
  padding: 0 16px 0 0;
  gap: 15.5px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
}
.ubigi-cartsvg-icon4 {
  width: 32.9px;
  height: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ubigi-cartsvg-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 22.5px;
}
.frame-parent110 {
  width: 805.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.link8 {
  align-self: stretch;
  width: 124.9px;
}
.partners1 {
  text-decoration: none;
  width: 99.2px;
  position: relative;
  line-height: 22px;
  text-transform: uppercase;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.svg-icon28 {
  width: 12px;
  height: 7px;
  position: relative;
}
.button19,
.svg-wrapper22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
}
.button19 {
  flex: 1;
  border-radius: 24px;
  background-color: #fff;
  border: 2px solid #fff;
  flex-direction: row;
  padding: 8px 14px;
  gap: 7.8px;
}
.link-my-account4 {
  align-self: stretch;
  height: 44px;
  position: relative;
  border-radius: 30px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.link-my-account-wrapper2 {
  width: 87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 15px 0 0;
  box-sizing: border-box;
}
.link-svg16 {
  width: 28px;
  height: 28px;
  position: relative;
}
.link-svg-wrapper4 {
  flex-direction: column;
  padding: 7.5px 0 0;
}
.container-inner10,
.link-parent2,
.link-svg-wrapper4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-parent2 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  gap: 15px;
}
.container-inner10 {
  height: 59.5px;
  width: 439px;
  flex-direction: column;
  padding: 15.5px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
.background26,
.container42,
.header4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.container42 {
  flex: 1;
  justify-content: space-between;
  padding: 0 0 0 5px;
  box-sizing: border-box;
  gap: 20px;
  text-align: center;
  font-size: 25.6px;
  color: #fff;
  font-family: "Open Sans";
}
.background26,
.header4 {
  justify-content: flex-start;
}
.background26 {
  flex: 1;
  background-color: #000;
  padding: 0 20px;
  box-sizing: border-box;
}
.header4 {
  align-self: stretch;
  top: 0;
  z-index: 99;
  position: sticky;
}
@media screen and (max-width: 1350px) {
  .buy-an-esim-data-plan-wrapper2,
  .buy-an-esim4 {
    display: none;
  }
  .item-link32 {
    width: 19.30000000000291px;
  }
}
@media screen and (max-width: 450px) {
  .link-parent2 {
    display: none;
  }
  .container-inner10 {
    width: 0;
  }
}
