.heading-28 {
  width: 647.5px;
  position: relative;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.heading-2-best-price-roaming-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.thanks-to-our {
  margin: 0;
  width: 615.2px;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.thanks-to-our-negotiated-agree-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  font-size: 17.2px;
}
.gsvg-icon,
.link-ubigi-map-coverage-5g-n {
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.link-ubigi-map-coverage-5g-n {
  height: 444.4px;
  flex: 1;
  max-width: 100%;
}
.gsvg-icon {
  height: 26.6px;
  width: 80px;
  flex-shrink: 0;
}
.gsvg-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 48px 0 47px;
}
.countries {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 34px;
  font-weight: 400;
  font-family: inherit;
}
.emphasis-march {
  flex: 1;
  position: relative;
  line-height: 27px;
  display: inline-block;
  font-style: italic;
  min-width: 106.8px;
}
.background21,
.emphasis-march-2024-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.emphasis-march-2024-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 35px 0 34px;
  font-size: 18px;
  color: #000;
}
.background21 {
  width: 220px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -50px;
  border-radius: 400px;
  background-color: #fff;
  flex-direction: column;
  padding: 66.2px 22px 46.2px;
  box-sizing: border-box;
  gap: 10px;
  z-index: 1;
}
.frame-parent68,
.link-ubigi-map-coverage-5g-n-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.link-ubigi-map-coverage-5g-n-parent {
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  font-size: 28px;
  color: #6546bd;
}
.frame-parent68 {
  flex-direction: column;
  align-items: flex-end;
  gap: 9px;
}
.link-svg9 {
  width: 40px;
  height: 20px;
  position: absolute;
  margin: 0 !important;
  bottom: 27px;
  left: 940px;
}
.section12 {
  align-self: stretch;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 288.3px 490px 314px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  text-align: center;
  font-size: 31.9px;
  color: #fff;
  font-family: "Open Sans";
}
@media screen and (max-width: 1325px) {
  .section12 {
    padding: 187px 245px 204px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .heading-28 {
    font-size: 26px;
    line-height: 30px;
  }
  .section12 {
    padding: 122px 122px 133px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-28 {
    font-size: 19px;
    line-height: 23px;
  }
  .countries {
    font-size: 22px;
    line-height: 27px;
  }
}
