.heading-34 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 38px;
  font-weight: 400;
  font-family: inherit;
}
.heading-3-key-benefits-of-es-wrapper {
  width: 1275.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.svg-icon16 {
  height: 60px;
  width: 42.3px;
  position: relative;
}
.svg-wrapper11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.heading-4 {
  position: relative;
  line-height: 28px;
}
.heading-4-convenience-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.code-or-a,
.esim-removes-the,
.travelers-can-swiftly {
  display: block;
}
.esim-removes-the-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 17px;
  line-height: 22px;
  color: #212529;
}
.frame-parent56 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 19.5px;
  min-width: 249px;
  max-width: 100%;
}
.svg-icon17 {
  height: 60px;
  width: 60px;
  position: relative;
}
.svg-wrapper12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px 0 20px;
}
.heading-41 {
  flex: 1;
  position: relative;
  line-height: 28px;
}
.heading-4-worldwide-connecti-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 60px 0 59px;
}
.cards,
.esim-offers-global,
.travelers-to-access,
.without-changing-sim {
  display: block;
}
.esim-offers-global-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 17.2px;
  line-height: 22px;
  color: #212529;
}
.frame-parent55,
.frame-parent57,
.frame-wrapper10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent57 {
  flex: 1;
  flex-direction: column;
  gap: 19.5px;
  min-width: 246px;
  font-size: 23.8px;
}
.frame-parent55,
.frame-wrapper10 {
  flex-direction: row;
}
.frame-parent55 {
  flex: 1;
  gap: 49px;
}
.frame-wrapper10 {
  align-self: stretch;
  padding: 0 0 0 1px;
  box-sizing: border-box;
}
.svg-icon18 {
  height: 60px;
  width: 49px;
  position: relative;
}
.heading-42,
.svg-wrapper13 {
  display: flex;
  justify-content: center;
}
.svg-wrapper13 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 20px;
}
.heading-42 {
  width: 84.2px;
  position: relative;
  line-height: 28px;
  align-items: center;
  flex-shrink: 0;
  min-width: 84.2px;
}
.heading-4-savings-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px 0 20px;
}
.affordable-with-no,
.esim-data-plans,
.up-to-90 {
  display: block;
}
.esim-data-plans-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 17.3px;
  line-height: 22px;
  color: #212529;
}
.frame-parent59 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19.5px;
  min-width: 250px;
  max-width: 100%;
}
.svg-icon19 {
  height: 60px;
  width: 60px;
  position: relative;
}
.heading-43,
.svg-wrapper14 {
  display: flex;
  justify-content: center;
}
.svg-wrapper14 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 21px 0 20px;
}
.heading-43 {
  width: 85.3px;
  position: relative;
  line-height: 28px;
  align-items: center;
  flex-shrink: 0;
  min-width: 85.3px;
}
.heading-4-ecology-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.esims-help-protect,
.reducing-the-need {
  display: block;
}
.esims-help-protect-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 17.3px;
  line-height: 22px;
  color: #212529;
}
.frame-parent60 {
  width: 331.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19.5px;
  min-width: 331.5px;
  max-width: 100%;
}
.frame-parent58 {
  width: 788.4px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 71.5px;
}
.frame-parent54,
.frame-parent58,
.frame-wrapper9 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent54 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 38px;
}
.frame-wrapper9 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 14px 0 0;
  box-sizing: border-box;
}
.link-see1,
.svg-icon20 {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.link-see1 {
  line-height: 22px;
}
.svg-icon20 {
  height: 18.4px;
  width: 11px;
  object-fit: contain;
  z-index: 1;
  margin-left: -5.4px;
}
.frame-parent53,
.link-see-the-list-of-esim-co-parent {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.link-see-the-list-of-esim-co-parent {
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  color: #6546bd;
}
.frame-parent53 {
  flex: 1;
  flex-direction: column;
  gap: 52px;
  min-width: 538px;
}
.sim-esimpng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sim-esimpng-wrapper {
  height: 432.6px;
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 41.4px 0 0;
  box-sizing: border-box;
  min-width: 420.0000000000037px;
  max-width: 100%;
}
.frame-parent51,
.frame-parent52 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent52 {
  flex-direction: row;
  justify-content: center;
  gap: 50.7px;
  font-size: 24px;
  color: #000;
}
.frame-parent51 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}
.link-svg7 {
  height: 20px;
  width: 40px;
  position: relative;
}
.link-svg-wrapper2,
.section11 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.link-svg-wrapper2 {
  width: 1274.6px;
  flex-direction: row;
  justify-content: center;
}
.section11 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 252.5px 300px 27px 322px;
  box-sizing: border-box;
  gap: 219.5px;
  background-image: url(/public/section1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 32px;
  color: #212529;
  font-family: "Open Sans";
}
@media screen and (max-width: 1725px) {
  .frame-parent54 {
    flex: 1;
  }
  .sim-esimpng-icon {
    align-self: stretch;
    width: auto;
  }
  .sim-esimpng-wrapper {
    flex: 1;
  }
  .frame-parent52 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1325px) {
  .frame-parent55 {
    flex-wrap: wrap;
  }
  .frame-parent60 {
    flex: 1;
  }
  .frame-parent58 {
    flex-wrap: wrap;
  }
  .frame-parent53,
  .sim-esimpng-wrapper {
    min-width: 100%;
  }
  .section11 {
    gap: 110px;
    padding: 164px 150px 20px 161px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .heading-34 {
    font-size: 26px;
    line-height: 30px;
  }
  .frame-parent58 {
    gap: 36px;
  }
  .frame-parent51,
  .frame-parent52 {
    gap: 25px;
  }
  .section11 {
    gap: 55px;
    padding-left: 80px;
    padding-top: 107px;
    padding-right: 75px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-34 {
    font-size: 19px;
    line-height: 23px;
  }
  .heading-4,
  .heading-41 {
    font-size: 19px;
    line-height: 22px;
  }
  .heading-4-worldwide-connecti-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .frame-parent55 {
    gap: 24px;
  }
  .heading-42,
  .heading-43 {
    font-size: 19px;
    line-height: 22px;
  }
  .frame-parent58 {
    gap: 18px;
  }
  .frame-parent54 {
    gap: 19px;
  }
  .frame-parent53 {
    gap: 26px;
  }
  .sim-esimpng-wrapper {
    padding-top: 27px;
    box-sizing: border-box;
  }
}
