.image-icon18 {
  width: 960px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 100%;
}
.about-nexusconnectnet {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 38px;
  font-weight: 400;
  font-family: inherit;
}
.about-nexusconnectnet-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.connected-cars,
.connectivity-in-over,
.since-2017-nexusconnectnet {
  display: block;
}
.since-2017-nexusconnectnet-container {
  margin: 0;
  position: relative;
  line-height: 27px;
}
.since-2017-nexusconnectnet-ha-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 23px;
}
.as-a-brand,
.ntt-group-we {
  display: block;
}
.as-a-brand-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 17.3px;
  line-height: 27px;
  padding-left: 0;
}
.frame-parent48,
.frame-parent49 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent49 {
  align-items: flex-end;
  gap: 1.5px;
  font-size: 17.2px;
}
.frame-parent48 {
  align-items: flex-start;
  gap: 28.5px;
}
.mvno-of-the-year-2023png-icon {
  height: 60.1px;
  width: 208px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.mvno-of-the-year-2023png-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px 15.9px 20px;
}
.button16 {
  height: 47px;
  width: 362px;
  font-family: "Open Sans";
  font-size: 18px;
  color: #fff;
  max-width: 100%;
}
.button-wrapper1,
.frame-parent47 {
  align-self: stretch;
  align-items: flex-start;
}
.button-wrapper1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 21px 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent47 {
  flex-direction: column;
  gap: 24px;
}
.frame-parent47,
.section-child,
.section9 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.section-child {
  width: 737.2px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 289px;
  box-sizing: border-box;
  min-width: 737.2000000000007px;
  min-height: 691px;
}
.section9 {
  align-self: stretch;
  background-color: #000;
  flex-direction: row;
  align-items: flex-end;
  gap: 111.4px;
  text-align: center;
  font-size: 32px;
  color: #fff;
  font-family: "Open Sans";
}
@media screen and (max-width: 1725px) {
  .image-icon18,
  .section-child {
    flex: 1;
  }
  .section9 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .about-nexusconnectnet {
    font-size: 26px;
    line-height: 30px;
  }
  .section-child {
    padding-bottom: 188px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .section9 {
    gap: 56px;
  }
}
@media screen and (max-width: 450px) {
  .about-nexusconnectnet {
    font-size: 19px;
    line-height: 23px;
  }
  .section9 {
    gap: 28px;
  }
}
