.heading-33 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 38px;
  font-weight: 400;
  font-family: inherit;
}
.heading-3-our-commitments-to-wrapper {
  width: 919.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 14px;
  box-sizing: border-box;
  max-width: 100%;
}
.svg-icon13 {
  height: 60px;
  width: 60.2px;
  position: relative;
}
.svg-wrapper9 {
  width: 252.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.advantages,
.competitive {
  margin: 0;
}
.competitive-advantages {
  position: relative;
  line-height: 28px;
}
.competitive-advantages-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 59px;
}
.and-loyalty,
.increasing-customer-satisfacti {
  margin: 0;
}
.increasing-customer-satisfacti-container,
.item-improving {
  position: relative;
  line-height: 22px;
}
.frame-parent42,
.frame-parent43,
.increasing-customer-satisfacti-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.increasing-customer-satisfacti-parent {
  gap: 22px;
  text-align: left;
  font-size: 18px;
}
.frame-parent42,
.frame-parent43 {
  gap: 26px;
}
.frame-parent42 {
  padding: 0 7px 0 0;
  gap: 31px;
  font-size: 24px;
}
.svg-icon14 {
  height: 60px;
  width: 59.9px;
  position: relative;
}
.svg-wrapper10 {
  width: 252.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.new-source,
.of-income {
  margin: 0;
}
.new-source-of-container {
  flex: 1;
  position: relative;
  line-height: 28px;
}
.new-source-of-income-wrapper {
  width: 253.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 61px;
  box-sizing: border-box;
}
.additional-revenue-from,
.sale-of-data {
  position: relative;
  line-height: 22px;
}
.additional-revenue-from-the-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.item-recurring {
  position: relative;
  line-height: 22px;
}
.frame-parent44,
.frame-parent45,
.frame-parent46 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent46 {
  gap: 20px;
  text-align: left;
  font-size: 18px;
}
.frame-parent44,
.frame-parent45 {
  gap: 26px;
}
.frame-parent44 {
  gap: 31px;
}
.svg-icon15 {
  width: 47.2px;
  height: 60px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 103.1px;
}
.excellency,
.of-service {
  margin: 0;
}
.excellency-of-service-container {
  flex: 1;
  position: relative;
  line-height: 28px;
}
.excellency-of-service-wrapper {
  width: 253px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 69px;
  box-sizing: border-box;
}
.networks-in-the,
.partnership-with-the {
  display: block;
}
.partnership-with-the-container {
  margin: 0;
  position: relative;
  line-height: 22px;
}
.award-2023,
.st-consumer-champion {
  margin: 0;
}
.st-consumer-champion-container {
  position: relative;
  line-height: 22px;
}
.partnership-with-the-best-oper-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22px;
  text-align: left;
  font-size: 18px;
}
.frame-parent41,
.svg-parent {
  display: flex;
  align-items: flex-start;
}
.svg-parent {
  flex-direction: column;
  justify-content: flex-start;
  padding: 91px 0 0;
  position: relative;
  gap: 26px;
}
.frame-parent41 {
  flex-direction: row;
  justify-content: center;
  gap: 55.2px;
  font-size: 23.8px;
  color: #000;
}
.link-svg5 {
  width: 40px;
  height: 20px;
  position: absolute;
  margin: 0 !important;
  bottom: -108px;
  left: 940px;
}
.button15 {
  height: 44px;
  width: 151.3px;
}
.button-frame,
.section8 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.button-frame {
  width: 919.6px;
  flex-direction: row;
  justify-content: center;
}
.section8 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 145px 462px 203px 500px;
  box-sizing: border-box;
  position: relative;
  gap: 36px;
  background-image: url(/public/section@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 32px;
  color: #212529;
  font-family: "Open Sans";
}
@media screen and (max-width: 1725px) {
  .frame-parent41 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1325px) {
  .section8 {
    padding-left: 250px;
    padding-right: 231px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .heading-33 {
    font-size: 26px;
    line-height: 30px;
  }
  .frame-parent41 {
    gap: 28px;
  }
  .section8 {
    gap: 18px;
    padding: 94px 115px 132px 125px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-33 {
    font-size: 19px;
    line-height: 23px;
  }
  .competitive-advantages {
    font-size: 19px;
    line-height: 22px;
  }
  .competitive-advantages-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .frame-parent42 {
    gap: 15px;
  }
  .new-source-of-container {
    font-size: 19px;
    line-height: 22px;
  }
  .new-source-of-income-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .frame-parent44 {
    gap: 15px;
  }
  .excellency-of-service-container {
    font-size: 19px;
    line-height: 22px;
  }
  .excellency-of-service-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .section8 {
    padding-top: 61px;
    padding-bottom: 86px;
    box-sizing: border-box;
  }
}
