.terms-and-conditions {
  margin: 0;
  width: 678.1px;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 400;
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 1;
}
.please-refer-to,
.terms-and-conditions,
.terms-and-conditions-wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.terms-and-conditions-wrapper {
  width: 850px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 1px 0 0;
  box-sizing: border-box;
}
.please-refer-to {
  margin: 0;
  width: 849.4px;
  position: relative;
  font-size: 17.2px;
  line-height: 22px;
  color: #212529;
  align-items: center;
  z-index: 1;
}
.terms,
.terms-content,
.terms-content-wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.terms-content {
  flex: 1;
  background-color: #efefef;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 73px 20px;
  box-sizing: border-box;
  gap: 16px;
}
.terms,
.terms-content-wrapper {
  align-self: stretch;
  align-items: flex-start;
}
.terms-content-wrapper {
  flex-direction: row;
  text-align: center;
  font-size: 40px;
  color: #000;
  font-family: "Open Sans";
}
.terms {
  flex-direction: column;
}
